<ion-header>
    <ion-toolbar>    
        <ion-title> 
            <ion-icon style="padding: 5px;" name="arrow-back" (click)="backToLogin()"></ion-icon>
            Register
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div style="margin-top: 200px; margin-right: 10px; position: relative;">
        <div align="center" *ngIf="(stateAuth | async).loading">
            <ion-spinner></ion-spinner>
        </div>
        <form [formGroup]="loginForm">
            <ion-item>
                <ion-input placeholder="Enter login..." name="username" id="username" formControlName="username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]="password" type="password" placeholder="Enter password..." name="password" id="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item>
                <ion-input [(ngModel)]="confirm_password"  type="password" placeholder="Repeat password..." name="confirm_password" id="confirm_password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <button style="margin-left: 15px;" ion-button color="secondary" (click)="onRegister()">Register</button>
        </form>
    </div>
</ion-content>