page-about {

}

#map{
    height: 250px;
}

.closeIcon{
    position: absolute;
    display: inline-block;
    width: 60px;
    background: rgba(0, 0, 0, 0.3);
    height: 33px;
    font-size: 36px;
    z-index: 10;
    margin-top: 3px;
    border-radius: 100px;
    font-weight: 300;
    font-family: Arial, sans-serif;
}

.closeBtn{
    position: absolute;
    z-index: 5;
    left: 35px;
}
